@font-face {
  font-family: "railway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "railway-bold";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* B1F6CB */
.header {
	position: relative;
    height: 95px;
    top: 0px;
    z-index: 999;
    margin: auto;
    width: 100%;
    display: inline-table;
}

body h1, body h2, body h3 {
	font-family:railway-bold;
}

div.alert ul {
  margin-bottom: 0px;
}