@font-face {
  font-family: "railway";
  src: url("../fonts/Raleway-Regular") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "railway-bold";
  src: url("../fonts/Raleway-Bold.eot");
  font-weight: normal;
  font-style: normal;
}

.header {
	position: relative;
    height: 95px;
    top: 0px;
    z-index: 999;
    margin: auto;
    width: 100%;
    display: inline-table;
}

h2 {
	font
}